body {
    
    background:url(https://cdn.wallpapersafari.com/67/66/nDuvAM.jpg)
    
    }
    
    .h1 {
        color: rgb(195, 194, 194);
        position: fixed;
        top: .01%;
        font-size: 3vw;
     
    }
    .h4 {
        color: rgb(195, 194, 194);
        position: fixed;
        top: 4.5%;
        left: .7%;
        font-size: 2vw;
        
    }
    
    
    .menuButton {
        position: fixed;
        top: 35%;
        background: none;
        color: rgb(195, 194, 194);
        border: none;
        font-size: 2.5vw;
        text-decoration: underline;
        left:.2%;
    }
    
    #bio {
        position: fixed;
        top: 44%;
        font-size: 2vw;
    }
    
    #projects {
        color:rgb(195, 194, 194);
        position:fixed;
        top: 48%;
        font-size: 2vw;
    }
    
    #contact {
        color:rgb(195, 194, 194);
        position:fixed;
        top: 52%;
        font-size: 2vw;
    }
    
    .linkedIn {
        position: fixed;
        right: 20px;
        top: 20px;
    }
    
    .github {
        position: fixed;
        right: 70px;
        top: 20px;
    }


    #home {
        position: fixed;
        top: 40%;
        font-size: 2vw;
    }
    
    .resumeHeader {
        color: rgb(195, 194, 194);
        position: fixed;
        left: 40%;
        border: .5vw ridge rgb(195, 194, 194);
        background: none;
        height: 3.3vw;
        width:17vw;
        font-size: 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;    
        top:.000001%;
    }

    #romansDescription {
        color:rgb(195, 194, 194);
        font-size: 1.2vw;
        position: fixed;
        top: 21%;
        left: 25%;
        right: 35%;
    }

    #romans {
        position: fixed;  
        left: 23%;
        top: 15%;
        right: 23%;
        font: 1.8vw;
        color: rgb(195, 194, 194)
    }
    
    #upsDescription {
        color:rgb(195, 194, 194);
        font-size: 1.2vw;
        position: fixed;
        top: 70%;
        left: 25%;
        right: 35%;
    }

    #ups {
        position: fixed;  
        left: 23%;
        top: 68%;
        right: 35%;
        font-size: 1.8vw;
        color: rgb(195, 194, 194)
    }

    #cottageInn {
        position: fixed;  
        left: 23%;
        top: 48%;
        right: 30%;
        color: rgb(195, 194, 194);
        font-size: 1.8vw;
    }

    #ciDescription {
        color:rgb(195, 194, 194);
        font-size: 1.2vw;
        position: fixed;
        top: 50.5%;
        left: 25%;
        right: 35%;
    }

    
    .skills {
        position: fixed;
        top: 15%;
        right: 2%;
        color:rgb(224, 224, 224);
        font-size: 2.2vw;
        font-weight: bold;

    }

    .skillList {
        font-size: 1.3vw;
        top: 15%;
        right: .1%;
        margin: .3vw;
        font-weight: normal;
    }

    .education {
        position: fixed;
        bottom: 22%;
        right: 11%;
        font: 2vw;
    }

    .school {
        position: fixed;
        bottom: 2%;
        right: .6%;
        color:rgb(195, 194, 194);
        font-size: 1.2vw;
    }

    .background {
        background: url(https://removal.ai/wp-content/uploads/2021/09/black-background-10-hipwallpaper.png)
    }

    .changeBackground {
        position: fixed;
        left: .2%;
        bottom: .2%;
        font-size: 1.2vw;
    }