body {
    
background:url(https://cdn.wallpapersafari.com/67/66/nDuvAM.jpg)

}

.header {
    color: rgb(195, 194, 194);
}
h4 {
    margin-top: -20px;
}
.menu {
    background: rgb(21, 21, 21);
    color: rgb(200, 200, 200);

}